@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #131316;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'cv11', 'salt', 'ss01', 'ss02', 'cv01', 'cv02', 'cv03',
    'cv04', 'cv05', 'cv06', 'cv09', 'cv10';
}

.d {
  background: rgba(34, 34, 34, 0.1);
  box-shadow: 0px 8px 32px 0 rgba(19, 19, 22, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide:hover::-webkit-scrollbar-thumb:vertical {
  @apply rounded-md bg-neutral-600;
}

.scrollbar-hide::-webkit-scrollbar {
  @apply h-1.5 w-1.5 rounded-md bg-transparent;
}

.scrollbar-hide:hover::-webkit-scrollbar-thumb:horizontal {
  @apply bg-neutral-600;
}

.scrollbar-hide::-webkit-scrollbar-thumb:horizontal {
  @apply h-[1px] w-[1px] rounded-md bg-transparent;
}
